/* Admin Login Page */
:root {
    --text-secondary: #655656;
    --text-primary: #071437;
    --primary: #7F27FF;
    --white: #fff;
    --border-dark: #cdcdcd;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.btn{
    transition: 0.4s ease !important;
}
.btn--lg{
    padding: 11px 20px;
}
.btn--md{
    padding: 9px 20px;
}
.btn--sm{
    padding: 7px 20px;
}
.btn--capsule{
    border-radius: 30px;
}
.btn--primary{
    background: var(--primary);
    color: var(--white);
}
.btn--primary:hover{
    background: var(--text-primary);
    color: var(--white);
}
.btn--dark{
    background: var(--text-primary);
    color: var(--white);
}
.btn--dark:hover{
    background: var(--primary);
    color: var(--white);
}
img{
    max-width: 100%;
    height: auto;
}

.mb-20{
    margin-bottom: 20px;
}

.mb-40{
    margin-bottom: 40px;
}

.logo-area  img{
    max-width: 220px;
    margin-bottom: 20px;
}
.admin-form{
    padding: 100px 10px;
    background-color: #222223;
    background: linear-gradient(15deg, #393737, #6f42c1);
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-wrapper-one{
    padding: 45px;
    background: rgba(255, 255, 255, .9);
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-wrapper-one input, textarea{
    border: 1px solid #d9d9d9;
    width: 100%;
    padding: 11px 15px;
    border-radius: 5px;
    transition: 0.4s ease;
    background: rgba(0,0,0,0.009);
}
input:focus,textarea:focus{
    outline: none;
    box-shadow: unset;
    border: 1px solid var(--primary);
}
label{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
    color: var(--text-primary);
}
input::placeholder,textarea::placeholder{
    font-size: 14px;
}
.form-inner{
    margin-bottom: 20px;
}
form{
    display: block;
    width: 100%;
}
.forgot-pass a{
    color: var(--text-secondary);
    text-decoration: underline;
    font-size: 15px;
    font-weight: 600;
    transition: 0.3s ease;
}
.forgot-pass a:hover{
    color: var(--primary);
}
.forgot-pass{
    text-align: right;
}
.login-left img{
    min-height: 100% !important;
    object-fit: cover;
    background-position: right center;
}
.login-left{
    height: 100%;
}
.another-login{
    position: relative;
    margin: 50px 0;
}
.or{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    color: var(--text-secondary);
    background: var(--white) !important;
    padding: 5px 15px;
    z-index: 2;
}
hr{
    border: 1px solid #ccc !important;
}
.social-login-list li{
    margin-bottom: 20px;
}
.social-login-list li:last-child{
    margin-bottom: 0px;
}
.social-login-list li a{
    border: 1px solid var(--text-primary);
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    border-radius: 10px;
    gap: 10px;
    text-decoration: none;
    transition: 0.3s ease;
}
.social-login-list li a:hover{
    border: 1px solid var(--primary);
}
.social-login-list li a .text p{
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 500;
    color: var(--text-primary);
}
.form--group {
    display: block;
}

.form--group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.form--group label {
    position: relative;
    cursor: pointer;
    line-height: 1;
}

.form--group label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid var(--border-dark);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 9px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 3px;
}

.form--group input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 4px;
    left: 9px;
    width: 5px;
    height: 12px;
    border: solid var(--text-secondary);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
